Repository aws-samples/generative-ai-newsletter-app, changes with the labels that .github/labeler.yml gives for each.
All labels: CodeChange, GitHubPages, Documentation, API, Auth, AuthN, AuthZ, DataFeed, Newsletter, LLMPrompting, UserInterface, CLI, GitHubFiles, dependencies

.github/labeler.yml:

CodeChange:
- changed-files:
  - any-glob-to-any-file: 
    - '**/*.ts'


GitHubPages:
- changed-files:
  - any-glob-to-any-file: pages/*

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - pages/**/*
    - docs/**/*
    - README.md

API:
- changed-files:
  - any-glob-to-any-file:
    - lib/api/**/*
    - lib/shared/api/**/*

Auth:
- changed-files:
  - any-glob-to-any-file:
    - lib/authentication/**/*
    - lib/authorization/**/*

AuthN:
- changed-files:
  - any-glob-to-any-file:
    - lib/authentication/**/*

AuthZ:
- changed-files:
  - any-glob-to-any-file:
    - lib/authorization/**/*

DataFeed:
- changed-files:
  - any-glob-to-any-file:
    - lib/data-feed-ingestion/**/*

Newsletter:
- changed-files:
  - any-glob-to-any-file:
    - lib/newsletter-generator/**/*
    - lib/shared/email-generator/**/*

LLMPrompting:
- changed-files:
  - any-glob-to-any-file:
    - lib/shared/prompts/**/*

UserInterface:
- changed-files:
  - any-glob-to-any-file:
    - lib/user-interface/**/*

CLI:
- changed-files:
  - any-glob-to-any-file:
    - cli/**/*

GitHubFiles:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - package-lock.json

fix: added missing eslint plugin
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Labels: CodeChange, dependencies

fix(ci): eslint GitHub Actions update for projen
  .github/workflows/eslint.yml
Labels: GitHubFiles

chore: upgraded dependencies
  package-lock.json
  package.json
Labels: dependencies

ci(gitlab): updated GitLab CI script to use npm run ci:deploy
  .gitlab/ci/.gitlab-ci.yml
  .projen/tasks.json
  .projenrc.ts
  package.json
Labels: CodeChange, dependencies

ci(gitlab): fixed build issue on GitLab due to updates from projen refactor
  .gitlab/ci/.gitlab-ci.yml
Labels: none

docs: updated Deployment guide to be aligned to projen refactor
  pages/deployment.md
Labels: GitHubPages, Documentation

fix: updated logging bucket ACL settings in CDK to handle log delivery from CloudFront
  lib/index.ts
Labels: CodeChange

chore: fixed a missing semicolon
  .projenrc.ts
Labels: CodeChange
