Repository aws-samples/generative-ai-newsletter-app, changes with the labels that .github/labeler.yml gives for each.
All labels: CodeChange, GitHubPages, Documentation, API, Auth, AuthN, AuthZ, DataFeed, Newsletter, LLMPrompting, UserInterface, CLI, GitHubFiles, dependencies

WIP: Attempting to convert project to ESM
  bin/genai-newsletter-app.ts
  cdk.json
  lib/config.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: CodeChange, dependencies

refactor: refactored build and synth to use ESM
  bin/genai-newsletter-app.ts
  lib/api/functions/bundle.ts
  lib/api/functions/pipeline/listPublications/index.ts
  lib/api/index.ts
  lib/api/resolvers.ts
  lib/authentication/index.ts
  lib/authorization/index.ts
  lib/config.ts
  lib/data-feed-ingestion/rss-atom-ingestion/data-feed-poll-step-function.ts
  lib/data-feed-ingestion/rss-atom-ingestion/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.article-ingestor.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.ts
  lib/newsletter-generator/index.email-generator.ts
  lib/newsletter-generator/index.ts
  lib/newsletter-generator/pinpoint-app.ts
  lib/user-interface/genai-newsletter-ui/vite.config.mts
  lib/user-interface/index.ts
  package-lock.json
Labels: CodeChange, API, Auth, AuthN, AuthZ, DataFeed, Newsletter, UserInterface, dependencies

style: formatted changes in #74
  lib/authentication/index.ts
Labels: CodeChange, Auth, AuthN

fix: resolved lambda powertools v2 upgrade dependency changes
  lib/authentication/index.pre-token-generation-hook.ts
  lib/authorization/index.action-authorization.ts
  lib/authorization/index.list-filter-authorization.ts
  lib/authorization/index.read-authorization.ts
  lib/data-feed-ingestion/rss-atom-ingestion/data-feed-poll-step-function.get-data-feeds.ts
  lib/data-feed-ingestion/rss-atom-ingestion/index.feed-subscriber.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.article-ingestor.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.feed-reader.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.filter-ingested-articles.ts
  lib/newsletter-generator/index.email-generator.ts
  lib/newsletter-generator/index.get-newsletter.ts
  lib/newsletter-generator/index.newsletter-campaign-creator.ts
  lib/newsletter-generator/index.newsletter-creator.ts
  lib/newsletter-generator/index.user-subscriber.ts
  lib/newsletter-generator/index.user-unsubscriber.ts
  lib/newsletter-generator/pinpoint-app.pinpoint-campaign-hook.ts
Labels: CodeChange, Auth, AuthN, AuthZ, DataFeed, Newsletter

style: formatted changes in lambda functions
  lib/api/functions/pipeline/listPublications/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.article-ingestor.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.filter-ingested-articles.ts
  lib/newsletter-generator/index.email-generator.ts
Labels: CodeChange, API, DataFeed, Newsletter

refactor: refactored build and synth to use ESM
  bin/genai-newsletter-app.ts
  cdk.json
  lib/api/functions/bundle.ts
  lib/api/functions/pipeline/listPublications/index.ts
  lib/api/index.ts
  lib/api/resolvers.ts
  lib/authentication/index.ts
  lib/authorization/index.ts
  lib/config.ts
  lib/data-feed-ingestion/rss-atom-ingestion/data-feed-poll-step-function.ts
  lib/data-feed-ingestion/rss-atom-ingestion/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.article-ingestor.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.ts
  lib/newsletter-generator/index.email-generator.ts
  lib/newsletter-generator/index.ts
  lib/newsletter-generator/pinpoint-app.ts
  lib/user-interface/genai-newsletter-ui/vite.config.mts
  lib/user-interface/index.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: CodeChange, API, Auth, AuthN, AuthZ, DataFeed, Newsletter, UserInterface, dependencies

refactor: migrated from npm to pnpm
  .vscode/settings.json
  cli/config-manage.ts
  cli/config.ts
  cli/consts.ts
  package-lock.json
  package.json
  pages/deployment.md
  pnpm-lock.yaml
Labels: CodeChange, GitHubPages, Documentation, CLI, dependencies

ci: updated ci build and synthesize jobs to use pnpm
  .github/workflows/build-on-every-push.yml
Labels: GitHubFiles

WIP: refactor: migrate from npm to pnpm #87
  .github/workflows/build-on-every-push.yml
Labels: GitHubFiles

WIP: refactor: migrate from npm to pnpm #87
  .github/workflows/build-on-every-push.yml
Labels: GitHubFiles

ci: update deploy-pages GitHub Actions workflow to use pnpm
  .github/workflows/deploy-pages.yml
Labels: GitHubFiles

refactor: migrate from npm to pnpm (#96)
  .github/workflows/build-on-every-push.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/eslint.yml
  .vscode/settings.json
  cli/config-manage.ts
  cli/config.ts
  cli/consts.ts
  package-lock.json
  package.json
  pages/deployment.md
  pnpm-lock.yaml
Labels: CodeChange, GitHubPages, Documentation, CLI, GitHubFiles, dependencies

Revert "refactor: migrate from npm to pnpm (#96)"
  .github/workflows/build-on-every-push.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/eslint.yml
  .vscode/settings.json
  cli/config-manage.ts
  cli/config.ts
  cli/consts.ts
  package-lock.json
  package.json
  pages/deployment.md
  pnpm-lock.yaml
Labels: CodeChange, GitHubPages, Documentation, CLI, GitHubFiles, dependencies

docs(release): update CHANGELOG.md with 1.1.17
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

feat(datafeed): automatically filter data feed articles using Generative AI
  lib/api/functions/pipeline/updateDataFeed/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.filter-articles-with-bedrock.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.ts
  lib/shared/api/API.ts
  lib/shared/api/graphql/mutations.ts
  lib/shared/api/graphql/queries.ts
  lib/shared/api/schema.graphql
  lib/shared/api/types.json
  lib/shared/common/types.ts
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/article-table.tsx
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/data-feed-detail.tsx
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/data-feeds-table.tsx
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/forms/data-feed-details-form.tsx
Labels: CodeChange, API, DataFeed, UserInterface

WIP: feature: dynamically filter articles in Data Feed using Generative AI #98
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.filter-articles-with-bedrock.ts
Labels: CodeChange, DataFeed

docs(datafeed): update documentation to include changes to DataFeeds related to Article Filters
  pages/images/DataFeed-Create-Image.png
  pages/user-guide.md
Labels: GitHubPages, Documentation

style: formatting code changes added re #98
  lib/api/functions/pipeline/updateDataFeed/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.filter-articles-with-bedrock.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.ts
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/forms/data-feed-details-form.tsx
Labels: CodeChange, API, DataFeed, UserInterface

feat(datafeed): automatically filter data feed articles using Generative AI (#99)
  lib/api/functions/pipeline/updateDataFeed/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.filter-articles-with-bedrock.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.ts
  lib/shared/api/API.ts
  lib/shared/api/graphql/mutations.ts
  lib/shared/api/graphql/queries.ts
  lib/shared/api/schema.graphql
  lib/shared/api/types.json
  lib/shared/common/types.ts
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/article-table.tsx
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/data-feed-detail.tsx
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/data-feeds-table.tsx
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/forms/data-feed-details-form.tsx
  pages/images/DataFeed-Create-Image.png
  pages/user-guide.md
Labels: CodeChange, GitHubPages, Documentation, API, DataFeed, UserInterface

docs(release): update CHANGELOG.md with 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: dependencies

feat(ui): sorted Newsletter Publications by created date desc
  lib/user-interface/genai-newsletter-ui/src/components/newsletters/publications-table.tsx
Labels: UserInterface

feat(ui): updated Article listing on Data Feed in UI to be sorted by created date
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/article-table.tsx
Labels: UserInterface

fix(ui): fixed bug with Article Table Keyword elements not have unique key
  lib/user-interface/genai-newsletter-ui/src/components/newsletters/definitions.tsx
Labels: UserInterface

chore: resolved react node dep mismatch and added @cloudscape-design/chat-components
  package-lock.json
  package.json
Labels: dependencies

fix(ui): added missing loader to Newsletter publications table
  lib/user-interface/genai-newsletter-ui/src/components/newsletters/publications-table.tsx
  package-lock.json
  package.json
Labels: UserInterface, dependencies

fix: sort data feed articles by date descending (#106)
  lib/user-interface/genai-newsletter-ui/src/components/data-feeds/article-table.tsx
  lib/user-interface/genai-newsletter-ui/src/components/newsletters/definitions.tsx
  lib/user-interface/genai-newsletter-ui/src/components/newsletters/publications-table.tsx
  package-lock.json
  package.json
Labels: UserInterface, dependencies

fix(deploy-cli): Fixed bugs related to ESM conversion
  cli/config-manage.ts
  cli/consts.ts
  package.json
Labels: CodeChange, CLI, dependencies

fix(deploy-cli): Fixed bugs related to ESM conversion (#119)
  cli/config-manage.ts
  cli/consts.ts
  package.json
Labels: CodeChange, CLI, dependencies

fix(cdk): Changed logic for getting the Lambda Typescript file paths
  lib/authentication/index.ts
  lib/authorization/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/data-feed-poll-step-function.ts
  lib/data-feed-ingestion/rss-atom-ingestion/index.ts
  lib/data-feed-ingestion/rss-atom-ingestion/ingestion-step-function.ts
  lib/newsletter-generator/index.ts
Labels: CodeChange, Auth, AuthN, AuthZ, DataFeed, Newsletter

fix(cdk): typo in lambda function handler path
  lib/data-feed-ingestion/rss-atom-ingestion/data-feed-poll-step-function.ts
Labels: CodeChange, DataFeed

WIP: refactor to projen for improved package management
  .eslintrc.json
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/upgrade.yml
  .gitignore
  .mergify.yml
  .npmignore
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  LICENSE
  cdk.json
  package-lock.json
  package.json
  test/main.test.ts
  tsconfig.dev.json
Labels: CodeChange, GitHubFiles, dependencies

chore: re-added commitizen configuration to package.json via projen
  .gitignore
  .projenrc.ts
  package.json
Labels: CodeChange, dependencies

fix: previous commits accidentally ignored lib/ files and other important files
  .npmignore
  .projenrc.ts
  lib/user-interface/genai-newsletter-ui/.env.local
  lib/user-interface/genai-newsletter-ui/.eslintrc.json
  lib/user-interface/genai-newsletter-ui/.gitattributes
  lib/user-interface/genai-newsletter-ui/.gitignore
  lib/user-interface/genai-newsletter-ui/.npmignore
  lib/user-interface/genai-newsletter-ui/.projen/deps.json
  lib/user-interface/genai-newsletter-ui/.projen/files.json
  lib/user-interface/genai-newsletter-ui/.projen/tasks.json
  lib/user-interface/genai-newsletter-ui/LICENSE
  lib/user-interface/genai-newsletter-ui/README.md
  lib/user-interface/genai-newsletter-ui/package-lock.json
  lib/user-interface/genai-newsletter-ui/package.json
  lib/user-interface/genai-newsletter-ui/public/amplifyconfiguration.json
  lib/user-interface/genai-newsletter-ui/tsconfig.dev.json
  lib/user-interface/genai-newsletter-ui/tsconfig.json
Labels: CodeChange, UserInterface

ci: fixed build issues with ci
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/build-on-every-push.yml
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/upgrade.yml
  .gitignore
  .npmignore
  .projen/files.json
  .projenrc.ts
  package-lock.json
  package.json
Labels: CodeChange, GitHubFiles, dependencies

ci: fixed issue with build deps
  .projen/deps.json
  .projenrc.ts
  package-lock.json
  package.json
Labels: CodeChange, dependencies

ci: fixed build-on-every-push GitHub Action
  .github/workflows/build-on-every-push.yml
Labels: GitHubFiles

fix(projen): Fixed build issues with front end compilation
  .projen/tasks.json
  .projenrc.ts
Labels: CodeChange

fix: added missing dev dependencies
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Labels: CodeChange, dependencies

Fix code scanning alert no. 518: Inefficient regular expression
  cli/config-manage.ts
Labels: CodeChange, CLI

fix: added missing dev dependencies to .projenrc.ts
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Labels: CodeChange, dependencies

.github/labeler.yml:

CodeChange:
- changed-files:
  - any-glob-to-any-file: 
    - '**/*.ts'


GitHubPages:
- changed-files:
  - any-glob-to-any-file: pages/*

Documentation:
- changed-files:
  - any-glob-to-any-file:
    - pages/**/*
    - docs/**/*
    - README.md

API:
- changed-files:
  - any-glob-to-any-file:
    - lib/api/**/*
    - lib/shared/api/**/*

Auth:
- changed-files:
  - any-glob-to-any-file:
    - lib/authentication/**/*
    - lib/authorization/**/*

AuthN:
- changed-files:
  - any-glob-to-any-file:
    - lib/authentication/**/*

AuthZ:
- changed-files:
  - any-glob-to-any-file:
    - lib/authorization/**/*

DataFeed:
- changed-files:
  - any-glob-to-any-file:
    - lib/data-feed-ingestion/**/*

Newsletter:
- changed-files:
  - any-glob-to-any-file:
    - lib/newsletter-generator/**/*
    - lib/shared/email-generator/**/*

LLMPrompting:
- changed-files:
  - any-glob-to-any-file:
    - lib/shared/prompts/**/*

UserInterface:
- changed-files:
  - any-glob-to-any-file:
    - lib/user-interface/**/*

CLI:
- changed-files:
  - any-glob-to-any-file:
    - cli/**/*

GitHubFiles:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - package-lock.json
